<button class="pull-right btn btn-primary" data-toggle="modal" data-target="#addModal">Add Group</button>

<table class="table">
  <thead>
    <tr>
      <th ng-repeat="key in groupHeaders">{{key}}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="group in allGroups">
      <td ng-repeat="key in groupHeaders">{{group[key]}}</td>
      <td><button class="btn btn-danger" ng-click="fillDeleteModal(group)" data-toggle="modal" data-target="#myModal">Delete</button></td>
    </tr>
  </tbody>
</table>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Are you sure you want to delete group</h4>
      </div>
      <div class="modal-body">
        {{deleteModal.name}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-danger" data-dismiss="modal" ng-click="deleteGroup(deleteModal.id)">Delete</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="addModalLabel">Add Group</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
         <label for="addName">Name</label>
         <input type="text" class="form-control" id="addName" ng-model="add.name" placeholder="Enter name">
         <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
       </div>
       <div class="form-group">
         <label for="exampleInputEmail1">Contact Name</label>
         <input type="text" class="form-control" id="exampleInputEmail1" ng-model="add.contact_name" placeholder="Enter Contact Name">
       </div>
       <div class="form-group">
         <label for="addAffiliation">Affiliation</label>
         <input type="text" class="form-control" id="addAffiliation" ng-model="add.affiliation" placeholder="Enter Affiliation">
       </div>
       <div class="form-group">
         <label for="addCourseNumber">Course Number</label>
         <input type="textbox" class="form-control" id="addCourseNumber" ng-model="add.course_num" placeholder="Enter Course Number">
       </div>
       <div class="form-group">
         <label for="addNotes">Notes</label>
         <input type="textbox" class="form-control" id="addNotes" ng-model="add.notes" placeholder="Enter Notes">
       </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addGroup()">Add</button>
      </div>
    </div>
  </div>
</div>
