<button class="pull-right btn btn-primary" data-toggle="modal" data-target="#addModal">Add Visit</button>

<table class="table table-striped">
  <thead>
    <tr>
      <th ng-repeat="key in visitHeaders">{{key}}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="visit in allVisits">
      <td ng-repeat="key in visitHeaders" >{{visit[key]}}</td>
      <td><button class="btn" ng-click="fillEditModal(visit)" data-toggle="modal" data-target="#editModal">Edit</button>
      <td><button class="btn btn-danger" ng-click="fillDeleteModal(visit)" data-toggle="modal" data-target="#myModal">Delete</button></td>
    </tr>
  </tbody>
</table>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Are you sure you want to delete visit?</h4>
      </div>
      <div class="modal-body">
        {{deleteModal}}
        {{deleteModal.name}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-danger" data-dismiss="modal" ng-click="deleteSensor(deleteModal.id)">Delete</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="addModalLabel">Add Visit</h4>
      </div>
      <div class="modal-body">
        <div class="form-group" ng-repeat="input in inputs">
          {{input}}
         <label for="{{input.id}}">{{input.label}}</label>
         <input type="{{input.type}}" class="form-control" id="{{input.id}}" ng-model="{{'add.' + input.start_date}}" placeholder="{{placeholder}}">
        </div>






      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addVisit()">Add</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="editModalLabel">Edit Visit</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
         <label for="editName">Name</label>
         <input type="text" class="form-control" id="editName" ng-model="editModal.name">
         <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
       </div>
       <div class="form-group">
         <label for="editUnit">Unit</label>
         <input type="text" class="form-control" id="editUnit" ng-model="editModal.unit">
       </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="editVisit()">Edit</button>
      </div>
    </div>
  </div>
</div>
